__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/
.env/

.idea/

.DS_Store
Thumbs.db
desktop.ini

*.log
*.tmp
*.bak
*.swp

build/
dist/
*.egg-info/
*.spec

.mypy_cache/
.pytest_cache/
.coverage
htmlcov/